<?xml version="1.0" encoding="utf-8" ?>
<settings maxdeep="1"  outputfilename="output" xpath="//*[@id='mainBody']" urltransform="(\(v=vs.\d*\))||">
  <Links>
    <link url="http://msdn.microsoft.com/zh-cn/library/vstudio/hh156548.aspx"/>
  </Links>
  <Rules>
    <Rule value="^http://msdn.microsoft.com/zh-cn/library/vstudio/(?!community|system)[^()]*\.aspx$" />
  </Rules>
  <ExcludeTitleRules>
    <Rule value="System\." />
    <Rule value="Microsoft\." />
    <Rule value="&lt;T&gt;" />
    <Rule value="&lt;TResult&gt;" />
    <Rule value="&lt;TSource&gt;" />
  </ExcludeTitleRules>
  <ExcludeUrlRules>
    <Rule value="dd831853|jj159353|hh156542" />
    <Rule value="w0x726c2|29eafad8|hh425099" />
  </ExcludeUrlRules>
</settings>