<?xml version="1.0" encoding="utf-8" ?>
<settings maxdeep="6"  outputfilename="output" xpath="//*[@id='mainBody']" urltransform="(\(v=vs.\d*\))||">
  <Links>
    <link url="http://msdn.microsoft.com/zh-cn/library/vstudio/hh156548.aspx"/>
  </Links>
  <Rules>
    <Rule value="^http://msdn.microsoft.com/zh-cn/library/vstudio/(?!community|system|microsoft)[^()]*\.aspx$" />
  </Rules>
  <ExcludeTitleRules>
    <Rule value="System\." />
    <Rule value="Microsoft\." />
    <Rule value="&lt;T&gt;" />
    <Rule value="&lt;TResult&gt;" />
    <Rule value="&lt;TSource&gt;" />
    <Rule value="&lt;TOutput&gt;" />
    <Rule value="&lt;TInput&gt;" />
    <Rule value="&lt;T,\sTResult&gt;" />
    <Rule value="&lt;TInput,\sTOutput&gt;" />
    <Rule value="\(T\)" />
    <Rule value="\(TResult\)" />
    <Rule value="\(TSource\)" />
    <Rule value="\(TOutput\)" />
    <Rule value="\(TInput\)" />
    <Rule value="(C#\s参考)" />
    <Rule value="(（C#\s编程指南）)" />
  </ExcludeTitleRules>
  <ExcludeUrlRules>
    <Rule value="dd831853|jj159353|hh156542|w0x726c2|29eafad8|hh425099|kwdt6w2k|7bkzywba" />
    <Rule value="2bh4z9hs|kztecsys|bb397897|bb397926|dd268536|gg145045|dd537632|3es4b6yy" />
    <Rule value="k9hz8w9t|cd0811yf|6caa9s64|cckchaw6|ms229014|ms164394|ms164400|dd997305" />
    <Rule value="ms172879|bb531253|edzehd2t|ms228970|bb384936|ms172157|fkytk30f|hh156570" />
    <Rule value="3a86s51t|c5kehkcz|ch45axte|ttw7t8t6|acdd6hb7|z2b2c2ka|hh160326|hh194704" />
    <Rule value="dd387150|hh160339|hh194869|hh194683|hh160286|hh160357|hh160446|hh160360" />
    <Rule value="dd321468|dd321274|dd287191|dd998369|dd998398|hh194853|hh156513|hh191564" />
    <Rule value="hh160352|hh194718|zw4w595w|8bs2ecf4|k5532s8a|zcx1eb1e|0xy59wtx|hh156528" />
    <Rule value="dd997286|hh156536|dd460709|dd642177|hh462706|chfa2zb8|kb4wyys2|hh160307" />
    <Rule value="hybbz6ke|waw3xexc|bb549311|db0etb8x|eed6swsx|be6fx1bb|yt1k2w4e|dd268303" />
    <Rule value="ctetwysk|dd554943|17sde2xt|ms229601|ck8bc5c6|wkays279|ywkkz4s1|bb549151" />
    <Rule value="dd992418|adbctzc4|t2at9t47|bb549430|33821kfh|dscyy5s0|525xt96h|dd321472|zxt5ahzw" />
  </ExcludeUrlRules>
</settings>
