<?xml version="1.0" encoding="utf-8" ?>
<settings maxdeep="3"  outputfilename="output" xpath="//*[@id='mainBody']" urltransform="(\(v=vs.\d*\))||">
  <Links>
    <link url="http://msdn.microsoft.com/zh-cn/library/vstudio/hh156548.aspx"/>
  </Links>
  <Rules>
    <Rule value="^http://msdn.microsoft.com/zh-cn/library/vstudio/(?!community|system|microsoft)[^()]*\.aspx$" />
  </Rules>
  <ExcludeTitleRules>
    <Rule value="System\." />
    <Rule value="Microsoft\." />
    <Rule value="&lt;T&gt;" />
    <Rule value="&lt;TResult&gt;" />
    <Rule value="&lt;TSource&gt;" />
    <Rule value="&lt;TOutput&gt;" />
    <Rule value="&lt;TInput&gt;" />
    <Rule value="\(T\)" />
    <Rule value="\(TResult\)" />
    <Rule value="\(TSource\)" />
    <Rule value="\(TOutput\)" />
    <Rule value="\(TInput\)" />
    <Rule value="(C#\s参考)" />
    <Rule value="(（C#\s编程指南）)" />
  </ExcludeTitleRules>
  <ExcludeUrlRules>
    <Rule value="dd831853|jj159353|hh156542" />
    <Rule value="w0x726c2|29eafad8|hh425099" />
    <Rule value="2bh4z9hs|kztecsys|bb397897|bb397926|dd268536|gg145045|dd537632|3es4b6yy" />
    <Rule value="kwdt6w2k|7bkzywba" />
    <Rule value="k9hz8w9t|cd0811yf|6caa9s64|cckchaw6" />
    <Rule value="3a86s51t|c5kehkcz|ch45axte|ttw7t8t6|acdd6hb7|z2b2c2ka" />
    <Rule value="ms172879|bb531253|edzehd2t|ms228970|bb384936" />
    <Rule value="ms229014|ms164394|ms164400" />
    <Rule value="dd387150|hh160339|hh194869|hh194683|hh160286|hh160357|hh160446|hh160360|hh160326|hh194704|hh160352|hh194718" />
  </ExcludeUrlRules>
</settings>